<!-- プロジェクト設定のタブ表示 -->
<%
  trackers = @project.trackers
  notifiables = Redmine::Notifiable.all
  templates = @project.mail_template.all
  template = templates.first || MailTemplate.new
%>

<%= form_tag({controller: :mail_templates, action: :update, project_id: @project.id},
             id: 'mail_template',
             method: 'PUT') do %>

<div class="box tabular settings">
  <p>
    <label for="mail_template_notifiable"><%= l(:field_mail_notification) %>:</label>
    <%= select_tag('mail_template_notifiable',
                   options_for_select(notifiables.map { |n| [l_or_humanize(n.name, prefix: 'label_'), n.name] },
                                      template.notifiable),
                   onchange: 'changeTracker(); changeTemplate();') %>
  </p>

  <p>
    <label for="mail_template_tracker_id"><%= l(:field_tracker) %>:</label>
    <%= select_tag('mail_template_tracker_id',
                   options_for_select(trackers.map { |t| [t.name, t.id] },
                                      template.tracker_id),
                   include_blank: true,
                   onchange: 'changeTemplate();') %>
  </p>

  <p>
    <label for="mail_template_template"><%= l(:label_template) %>:</label>
    <%= text_area_tag('mail_template_template', template.template, rows: 16) %>
  </p>
</div>

<p>
  <%= submit_tag(l(:button_save)) %>
</p>

<% end %> <!-- form_tag -->

<script type="text/javascript">
  var mailTemplates = [
  <% templates.each do |t| %>
    <%= raw(t.to_json()) %>,
  <% end %>
  ];

  function changeTracker() {
    let notifiable = document.getElementById('mail_template_notifiable').value;

    let tracker = document.getElementById('mail_template_tracker_id');

    if (notifiable.startsWith('issue')) {
      tracker.disabled = false;
    }
    else {
      tracker.value = '';
      tracker.disabled = true;
    }
  }

  function changeTemplate() {
    let notifiable = document.getElementById('mail_template_notifiable').value;

    let tracker_id = document.getElementById('mail_template_tracker_id').value;
    if (!tracker_id) {
      tracker_id = null;
    }

    let template = document.getElementById('mail_template_template');
    template.value = '';

    for (let i = 0; i < mailTemplates.length; i++) {
      if (mailTemplates[i].notifiable == notifiable && mailTemplates[i].tracker_id == tracker_id) {
        template.value = mailTemplates[i].template;
        break;
      }
    }
  }

  document.addEventListener('DOMContentLoaded', function() {
    changeTracker();
  });
</script>
